<div class="row center">
  <div class="nes-balloon">
    <p>
      It's over <b><i><span class="nes-text is-error">
        <%= @results[:loser] %>
      </i></b></span>!
    </p>
    <p>
      <h3><b><i>
      <span class="nes-text is-primary">
        <%= @results[:winner] %>
      </span>
      </b></i> has the high ground!
      </h3>
    </p>
  </div>
</div>

<div class="row center">
  <p>
    <%= image_tag("duel.png", class: "result", size: '300x350') %>
    <%= render "versus" %>
  </p>
</div>
<br><br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="nes-balloon from-left is-rounded">
      <%= "#{@results[:winner]} defeated #{@results[:loser]}" %>
      <%= "with a difference of #{number_with_delimiter(@results[:elevation_diff].round(2), :precision => 2, :delimeter=> ',')} meters." %>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    <%= image_tag('droids.png') %>
  </div>
</div>
