<div class="row center">
  <div class="nes-balloon">
    <p>
      It's over <b><i><span class="nes-text is-error">
        <%= @results[:loser].title %></i></b></span>!
    </p>
    <p>
      <h3><b><i>
      <span class="nes-text is-primary">
        <%= @results[:winner].title %>
      </span>
      </b></i> has the high ground!
      </h3>
    </p>
  </div>
</div>

<div class="row center">
  <p>
    <%= image_tag("duel.png", class: "result", size: '300x300') %>
    <%= render "versus" %>
  </p>
</div>

<br>
<br>
<%= render partial: 'droid_say', locals: { droid_message: "#{@results[:winner].title} defeated #{@results[:loser].title}\nwith a difference of #{number_with_delimiter(@results[:elevation_diff].round(2), :precision => 2, :delimeter=> ',')} meters." } %>
