<p id="notice"><%= notice %></p>

<h1>Warriors</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Autolocate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warriors.each do |warrior| %>
      <tr>
        <td><%= warrior.title %></td>
        <td><%= warrior.address %></td>
        <td><%= warrior.latitude %></td>
        <td><%= warrior.longitude %></td>
        <td><%= warrior.elevation %></td>
        <td><%= warrior.wins %></td>
        <td><%= warrior.losses %></td>
        <td><%= warrior.ties %></td>
        <td><%= warrior.autolocate %></td>
        <td><%= link_to 'Show', warrior %></td>
        <td><%= link_to 'Edit', edit_warrior_path(warrior) %></td>
        <td><%= link_to 'Destroy', warrior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warrior', new_warrior_path %>
